<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Fullstack Blog</title>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
    <header class="display-flex justify-content-between align-center p-2">
       
        <!-- Display the logout button when the user in Logged in -->
        
        <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            {{#if loggedIn}}
            <button class="btn btn-primary" id="logout" type="submit">Logout</button>
            {{else}}
            <a href="/login">Login</a>
        
            {{/if}}
        </nav>

         <h1 class="tech-logo">The Tech Blog</h1>
        
    </header>
     <div id="alert-container"></div>
    <main class="container container-fluid mt-5">
        {{{body}}}
    </main>
    <footer></footer>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
    <!-- If user is logged in - include logout script -->
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>