<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Fullstack Blog</title>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="display-flex justify-content-between align-center p-2">
       
        <!-- Display the logout button when the user in Logged in -->
        
        <nav class="col-12">
            <ul class="nav">
                <li class="nav-item"></li><a class="nav-link" href="/">Home</a></li>
                 <li class="nav-item"></li><a class="nav-link" href="/dashboard">Dashboard</a>
                {{#if loggedIn}}
                <button class="btn btn-primary" id="logout" type="submit">Logout</button>
                {{else}}
                 <li class="nav-item"></li><a class="nav-link" href="/login">Login</a>
            
                {{/if}}
            </ul>
        </nav>
       
    </header>
     <div id="alert-container"></div>
    <main class="container container-fluid mt-5">
        {{{body}}}
    </main>
    <footer></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
     
    <!-- If user is logged in - include logout script -->
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
     <script src="/js/signUp.js"></script>
</body>

</html>