<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Fullstack Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
    <header class="display-flex justify-content-between align-center p-2">
       
        <!-- Display the logout button when the user in Logged in -->
        
        <nav>
            <a href="/views/homepage.handlebars">Home</a>
            <a href="/views/homepage.handlebars">Dashboard</a>
            {{#if logged_in}}
            <button class="btn" id="logout">Logout</button>
            {{else}}
            <a href="/views/homepage.handlebars">Login</a>
        
            {{/if}}
        </nav>

         <h1>The Tech Blog</h1>
        
    </header>

    <main class="container container-fluid mt-5">
        {{{body}}}
    </main>
    <footer></footer>

    <!-- If user is logged in - include logout script -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>