<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Fullstack Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
    <header class="display-flex justify-content-between align-center p-2">
        <h1>The Tech Blog</h1>
        <!-- Display the logout button when the user in Logged in -->
        {{#if logged_in}}
        <nav>
            <button class="btn" id="logout">Logout</button>
        </nav>
        {{/if}}
    </header>

    <main class="container container-fluod mt-5">
        {{{body}}}
    </main>
    <footer></footer>

    <!-- If user is logged in - include logout script -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>