<div class="dash-container">
    <h1 class="tech-logo">Dashboard</h1>

    <div class="currentPostList-container">
        {{#each posts}}
            <button class="btn btn-primary userPostList" type="submit">{{title}}</button>
        {{/each}}
    </div>

    <div class="createPost-container"></div>

    <button class="createPost btn btn-primary" type="submit">Create Post</button>
</div>

<script src="/js/createPost.js"></script>