<div class="home-container">
    <h1 class="tech-logo">The Tech Blog</h1>
    {{#if featured}}
    <div>
        <!-- Create a Post Card -->
    </div>
    {{else}} <p>NO one has Posted!</p>
    {{/if}}
    
</div>