<div class="home-container">
    <h1 class="tech-logo">The Tech Blog</h1>
    
    <!-- Needs to autoGenerate --> 
  <div class="dash-sub-container">
    {{#each posts}}
            <button class="btn btn-primary userPostList" type="submit"data-post-id="{{id}}">{{title}} - {{description}}</button>
        {{/each}}
      </div>
      
   </div>
  
    
</div>