<div class="home-container">
    <h1 class="tech-logo">The Tech Blog</h1>
    
    <!-- Needs to autoGenerate --> 
  <div class="dash-sub-container">
    {{#each postData}}
            <h1>{{title}}</h1>
            <p>{{description}}</p>
        {{/each}}
      </div>
      <p>Hello there this is supposed to be a description of a post, so it can have...</p>
   </div>
  
    
</div>