body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 16px;
}
.nav-link{
    text-decoration: none;
    margin: 50px;
    font-size: 25px;
    color:aquamarine;
}
.nav-link:hover{
    color: orangered;
    text-decoration: underline;
}

.tech-logo{
    color: rgb(55, 218, 164); 
    margin: 20px;
    padding-bottom: 20px;
}
h2{
    margin-left: 50px;
}

header{
    background-color: rgb(56, 5, 103);
    width: 100%;
}

form {
    width: 100%;
  }

  .form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  form .form-group {
    display: block;
    width: 50%;
    margin: 0.625rem 0;
    margin-left: 50px;
    
  }
  
  form .form-input,
  form .form-textarea {
    display: block;
  }
  
  form label,
  form .form-label {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0.625rem 0 0.25rem 0.3rem;
  }
  
  form .form-input {
    width: 100%;
    padding: 0.75rem;
    color: #1a1a1a;
    background-color: #ffffff;
    margin: 0.625rem 0;
    font-size: 1.2rem;
    border: 1px solid #484848;
    border-radius: 0.3rem;
    
  }
  
  form .form-input.form-input-squared {
    border-radius: 0;
  }
  

/** TODO: Fix the buttons**/
  .btn.btn-primary {
    background-color: #2d3e50;
    color: #d9e9e8;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
  }
  
  .btn.btn-primary:hover {
    background-color: orangered;

  }
  #logout{
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 8px;
  }

  .signUp-container{
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .sign-up-link{
    font-size: 30px;
    margin: 50px;
    color: #2d3e50;
  }
  .sign-up-link:hover{
    color:orangered;
  }

  /** Post Card container **/
  /** createPost button **/
  .createPost{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: fit-content;
  
  }
  /** New Post container**/
  .newPost-container{
    /** display:inline-block; **/
    margin-bottom:150px;
    border-style: solid;
    border-color: aquamarine;
    border-radius: 6px;
   
  }

  .newPostHeader{
   
    margin-right: 20px;
    color: rgb(56, 5, 103);
    background-color: aquamarine;
    width: 100%;
  }

  #form-createPost{
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 30px auto;
    
    /** width: fit-content; **/
  }

  #form-updatePost{
    display: flex;
    justify-content: center;
    align-items: top;
    margin: 30px auto;
    
    /** width: fit-content; **/
  }
  #updatePostButton{
    margin-right: 20px;
  }

  #postTitle{
    margin-left:20px;
    border-radius: 4px;
    margin-right: 20px;
    box-shadow: 3px 3px grey;
  }
  #postDescription{
    border-radius: 4px;
    margin-right:20px;
    box-shadow: 3px 3px grey;
    
  }

.title-Date{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 5, 103);
 }
.postTitle{
  color:aquamarine;
  padding: 10px;
  margin-top: 0;
  
}
.postAuthor{
  color:aquamarine;
 margin-left: 200px;
 margin-top: 2px;
}
.postDate{
  color:aquamarine;
  margin-right: 10px;
  margin-top: 2px;
}

.userPostList{
  margin-right: 10px;
  margin-bottom: 10px;
  width: 90%;

}

.homePagePostDesc{
  background-color: white;
  color: #2d3e50;
  padding: 5%;
  border-radius: 6px;
}

#form-newComment{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: fit-content;

}
.savedComment{
  border-style: solid;
    border-color: aquamarine;
    border-radius: 6px;
}
.newCommentHeader{
  margin-left: 0px;
  color: rgb(56, 5, 103);
  background-color: aquamarine;
  width: 100%;
}
.thisComment-container{
  margin-left: 0px;
  color: rgb(56, 5, 103);
  background-color: aquamarine;
  width: 100%;
  margin-bottom: 50px;
}
.thisComment{
  background-color: white;
  border-style: solid;
  border-color: aquamarine;
  border-radius: 6px;
  margin: 10px;
  padding: 5px;
}